{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<body class="d-flex flex-column h-100">

<!--  maint table -->
<div class="row m-3">

    

    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">System Abnormal Conditions
                <div class=" text-end m-2">
                    <h1>{{alert_items}}</h1>
                </div>
                
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'sysalerts:alert_list' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>

     





</body>



{% endblock %}